body {
    display: flex;
    flex-direction: row;
}

img {
    height: 50%;
    margin-top: 20rem;
}

.face {
    margin-top: 9%;
    margin-left: 0%;
}
.hair {
    margin-top: 1rem;
    margin-left: 50;
}

.btn button {
    padding: 5;
    border: none;
    margin-top: 21rem;
    background: none;
    font-size: 50px;

    margin-left: 25px;
}

.avatar {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 15rem;
    margin-left: 2rem;
}

.avatar .hair,
.avatar .face {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.avatar .hair {
    z-index: 2;
}

.avatar .face {
    z-index: 1;
}

img.disable {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}